<p id="notice"><%= notice %></p>

<h1>Listing Product</h1>

<div class="container-fluid">
  <div class="row">

    <% @products.each do |product| %>
    <div class="col-sm-4 col-md-4 margin-top">
    <div class="border-product">
    <% if product.image_url.present? %>
        <%= image_tag(product.image_url, class: "img-responsive") %>
      <% else %>
        <%= image_tag("http://www.planwallpaper.com/static/images/images-7_kACPBns.jpg", class: "img-responsive") %>
      <% end %>
        <strong><%= product.price %></strong>
        <h1><%= product.name %></h1>
        <p><%= truncate(product.description, length: 50, omission: '... (continued)')
 %></p>
        
        <strong><%= link_to 'Show', product, class: 'btn btn-mini btn-default' %></strong> |
      <strong class="btn-override-white"><%= link_to 'Edit', edit_product_path(product), class: 'btn  btn-mini btn-success' %></strong> |
      <strong class="btn-override-white"><%= link_to 'Destroy', product, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></strong>
      </div>
      </div><!-- /col -->
      
    <% end %>
  </div>
</div>








<!-- table format -->

<!-- <div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Image url</th>
          <th>Color</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead> -->

     <!--  <tbody>
        <%# @products.each do |product| %>
          <tr> -->
            <!-- <td><%#= product.name %></td> -->
            <!-- <td><%#= product.description %></td>
            <td><%#= image_tag(product.image_url, class: 'product-image') %></td>
            <td><%#= product.colour %></td>
            <td><%#= product.price %></td>
            <td><%#= link_to 'Show', product, class: 'btn btn-mini btn-default' %></td> -->
           <!--  <td class="btn-override-white"><%#= link_to 'Edit', edit_product_path(product), class: 'btn  btn-mini btn-success' %></td> -->
            <!-- <td class="btn-override-white"><%#= link_to 'Destroy', product, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td> -->
         <!--  </tr>
        <%# end %>
      </tbody>
    </table>
  </div>
</div> -->
<br>
<%= link_to 'New Product', new_product_path, class: 'btn btn-mini btn-default' %>





<!-- !!!  Wrote loop using divs !!! -->
<!-- <div class="container">
        <div class="row">
          <div class="col-md-2">Name</div>
          <div class="col-md-3">Description</div>
          <div class="col-md-2">Image</div>
          <div class="col-md-1">Colour</div>
          <div class="col-md-1">Price</div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
        </div> -->
        <%# @products.each do |product| %>
          <!-- <div class="row"> -->
           <!--  <div class="col-md-2"><%#= product.name %></div> -->
            <!-- <div class="col-md-3"><%#= product.description %></div>
                 <div class="col-md-2"><%#= product.image_url %></div>
                 <div class="col-md-1"><%#= product.colour %></div>
                 <div class="col-md-1"><%#= product.price %></div>
                 <div class="col-md-1"><%#= link_to 'Show', product, class: 'btn btn-mini btn-default' %></div> -->
            <!-- <div class="col-md-1 btn-override-white"><%#= link_to 'Edit',  -->edit_product_path(product), class: 'btn  btn-mini btn-success' %></div>
                 <div class="col-md-1 btn-override-white"><%#= link_to 'Destroy', product, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></div>
               </div>
        <%# end %>
        <%#= link_to 'New Product', new_product_path, class: 'btn btn-mini btn-default' %>
        
      </div>


