<div class = "container">
    
    <div class="row"> <!-- begining of row 1 -->
        <hr class="hr-edit">
        <div class="col-md-6">
            <div class="product-name">
              <h2><%= @product.name %></h2>
            </div>
            <div class="thumbnail">
              <% if @product.image_url.present? %>
                <%= image_tag(@product.image_url, class: "img-responsive") %>
              <% else %>
                <%= image_tag("http://www.planwallpaper.com/static/images/images-7_kACPBns.jpg", class: "img-responsive") %>
              <% end %>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="price-rating-color">
              <ul>
                <li>$<%= @product.price %> |</li>
                <li>product rating |</li> 
                <li><%= @product.colour %></li>
              </ul>
            </div><hr class="hr-edit">
            <div class="description">
              <h3>Description:</h3>
              <div class="background">
                <p><%= @product.description %></p>
              </div>
            </div>
        </div>    

    </div> <!-- end of row 1 -->
    
    <div class="row">  <!-- begining of row 1 -->
        <hr class="hr-edit">
        <div class="col-md-12">
          <div class="comments">
            <h1>Comments</h1>
               <%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
          </div>
        </div>
  
    </div> <!-- end of row 1 -->


</div> <!-- end of container -->










<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%#= image_tag(@product.image_url, class: 'product-image') %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p> -->

