
    
    <div class="row"> <!-- begining of row 1 -->
        <hr class="hr-edit">
        <div class="col-md-6">
            <div class="product-name">
              <h2 class="heading-family"><%= @product.name %></h2>
            </div>
            <div class="thumbnail">
              <% if @product.image_url.present? %>
                <%= image_tag(@product.image_url, class: "img-responsive") %>
              <% else %>
                <%= image_tag("http://www.planwallpaper.com/static/images/images-7_kACPBns.jpg", class: "img-responsive") %>
              <% end %>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="price-rating-color">
              <p><span class="heading-family price-font">Total Price:</span> $<%= @product.price %></p>
              <ul>
                <li class="fixed-font">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </li> 
                <li class="fixed-font fixed-padding">Color: <%= @product.colour %></li>
              </ul>
            </div><hr class="hr-edit">
            <div class="description">
              <h3 class="heading-family">Description:</h3>
              <div class="background">
                <p><%= @product.description %></p>
              </div>
              <div class="stripe-button">
                <%= form_tag "/payments/create" do %>
                 <%= render partial: "shared/stripe_checkout_button" %>
                 <%= hidden_field_tag( :product_id, @product.id ) %>
                <% end %>
              </div>
            </div>
        </div>    

    </div> <!-- end of row 1 -->
    <%= render 'new_comment' %>  
    <%= render 'comments' %>












<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%#= image_tag(@product.image_url, class: 'product-image') %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p> -->

